:host {
    display: block;
    background-color: #1a1a1a;
    min-height: 100vh;
    padding-top: 0.5rem;
}

.form-container {
    border-radius: 15px;

    .titleregistro{
        text-align: center;
        margin-bottom: 0;
    }

    .titleregistro h1 {
        color: #e6dcc9;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .titleregistro p {
        color: #bbb;
        font-size: 1rem;
    }

    form {
        margin: 0 auto;
        padding: 2.5rem;
        background-color: #242424;
        border: 1px solid #444;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    }

    .form-label {
        display: block;
        color: #e6dcc9;
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    /* Estilo de los Inputs */
    .form-control {
        background-color: #2b2b2b !important;
        border: 1px solid #444;
        color: white !important;
        border-radius: 10px;
        padding: 6px 12px;
        transition: all 0.3s ease;
    }

    .form-control:focus {
        background-color: #333 !important;
        border-color: #e6dcc9;
        box-shadow: 0 0 8px rgba(255, 193, 7, 0.3);
        outline: none;
    }

    /* Estados de validación de Angular */
    .form-control.ng-invalid.ng-touched {
        border-color: #ff4d4d;
        /* Rojo para error */
    }

    .form-control.ng-valid.ng-dirty {
        border-color: #4caf50;
    
    }
}
.error {
    color: #ff4d4d;
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: 500;
    display: block;
}

/* Contenedor de Password y botón del ojo */
.password {
    position: relative;
}

.password button {
    position: absolute;
    right: 15px;
    top: 38px;
    background: none;
    border: none;
    color: #e6dcc9;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s, opacity 0.2s;
    display: flex;
    align-items: center;
}

.password button i {
    font-size: 1.2rem;
}

.password button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Botones de acción */
.btn-info,
.btn-warning {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #e6dcc9;
    color: #1a1a1a;
    transition: background-color 0.3s ease;
}

.btn-warning:hover {
    background-color: #e6dcc9;
}

/* Estilo para espaciado Bootstrap mb-3 */
.mb-3 {
    margin-bottom: 1.5rem;
}

.form-container button[routerLink="/login"] {
    background: none;
    border: none;
    padding: 0;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s;
    align-items: center;
}