.footer {
    background-color: #1a1a1a;
    color: #e6dcc9;
    padding: 15px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 220px;
    margin: 5px 15px;
}

.footer-section h3 {
    margin-bottom: 8px;
    font-size: 17px;
    font-style: oblique;
    color: #e6dcc9;
    
}

.footer-section p {
    line-height: 1.6;
    font-size: 12px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    font-size: 12px;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-links a {
    color: #e6dcc9;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s ease;
    font-size: 12px;
}

.social-links a:hover {
    color: #f4a261;
}

.footer-bottom {
    text-align: center;
    align-items: center;
    margin-top: 0px;
    padding: 8px 0;
    background-color: #111111;
    font-size: 12px;
}