<nav class="navbar-links">
    <ul>
        <li routerLink="/reservas">
            Reservas
        </li>
        <li routerLink="/pedidos">
            Pedidos
        </li>
        <li routerLink="/menus">
            Ver Menus
        </li>
        <li routerLink="/platos">
            Ver Platos
        </li>
        <li (click)="onLogout()">
            Logout
        </li>
        <li routerLink="/login">
            Login
        </li>
        <li routerLink="/registro">
            Registro
        </li>

    </ul>
</nav>